deb http://{{ ubuntu_archive_path }}/ubuntu/ impish main restricted
deb http://{{ ubuntu_archive_path }}/ubuntu/ impish-updates main restricted
deb http://{{ ubuntu_archive_path }}/ubuntu/ impish universe
deb http://{{ ubuntu_archive_path }}/ubuntu/ impish-updates universe
deb http://{{ ubuntu_archive_path }}/ubuntu/ impish multiverse
deb http://{{ ubuntu_archive_path }}/ubuntu/ impish-updates multiverse
deb http://{{ ubuntu_security_path }}/ubuntu impish-security main restricted
deb http://{{ ubuntu_security_path }}/ubuntu impish-security universe
deb http://{{ ubuntu_security_path }}/ubuntu impish-security multiverse
deb http://{{ ubuntu_archive_path }}/ubuntu/ impish-backports main restricted universe multiverse
